nav
    background: $primary
    display: flex


.nav__container 
    display: flex
    justify-content: space-between
    width: 1140px
    margin: 0 auto

    h2
        color: white

.nav__links
    display: flex
    align-items: center
    margin-left: auto
    
    
    a 
        text-decoration: none
        color: white
        font-weight: 700
        margin: 0.85rem 0 0 1rem 
        padding: 0.75rem 2rem
        border-radius: 10px 

    a:hover, a:focus
        background-color: $accent
        color: white
        transition: 0.2s
        

